 <!-- Page Navbar -->
<nav id="myNavbar" class="custom-navbar " data-spy="affix" data-offset-top="20">
    <div class="container">
        <a class="logo" href="/Home">Beginner Devel0per</a>
        <ul class="nav">
            <li class="item">
                <a class="link" href="/Home/#home">Anasayfa</a>
            </li>
            <li class="item">
                <a class="link" href="/Home/#about">Hakkımda</a>
            </li>
            <li class="item">
                <a class="link" href="/Blog">Blog</a>
            </li>
            <li class="item">
                <a class="link" href="/Home/#contact">İletişim</a>
            </li>
        </ul>
        <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </a>
    </div>
</nav>
 <!-- End of Page Navbar -->
