
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashtreme - Multipurpose Bootstrap4 Admin Template</title>
    <!--favicon-->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <!-- simplebar CSS-->
    <link href="~/AdminContent/simplebar/css/simplebar.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="~/AdminContent/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="~/AdminContent/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/AdminContent/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    <link href="~/AdminContent/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="~/AdminContent/css/app-style.css" rel="stylesheet" />

</head>

<body>

    <!-- start loader -->
    <div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner"><div class="loader"></div></div></div></div>
    <!-- end loader -->
    <!-- Start wrapper-->
    <div id="wrapper">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center error-pages">
                        <h1 class="error-title text-warning"> 404</h1>
                        <h2 class="error-sub-title">404 not found</h2>

                        <p class="error-message text-uppercase">Bir hata oluştu, İstenen sayfa bulunamadı!</p>

                        <div class="mt-4">
                            <a href="/Home/Index" class="btn btn-dark btn-round m-1">Anasayfaya git</a>
                        </div>

                        <div class="mt-4">
                            <p class="">Copyright © Beginner Devel0per</p>
                        </div>
                        <hr class="w-50 border-light">
                      
                    </div>
                </div>
            </div>
        </div>

    </div><!--wrapper-->
    <!-- Bootstrap core JavaScript-->
    <script src="~/AdminScripts/js/jquery.min.js"></script>
    <script src="~/AdminScripts/js/popper.min.js"></script>
    <script src="~/AdminScripts/js/bootstrap.min.js"></script>

    <!-- simplebar js -->
    <script src="~/AdminContent/plugins/simplebar/js/simplebar.js"></script>
    <!-- sidebar-menu js -->
    <script src="~/AdminScripts/js/sidebar-menu.js"></script>

    <!-- Custom scripts -->
    <script src="~/AdminScripts/js/app-script.js"></script>

</body>
</html>

